# Python
__pycache__/
.pytest_cache/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
.envrc
pip-wheel-metadata/
*.log
*.sqlite3
*.db
*.ipynb

# General
.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.~
.idea/
.vscode/
*.orig

# Test/coverage
coverage/
*.cover
*.pyc
*.pyo
*.pyd

# Misc
*.log
*.out
*.pid

# Static files
contexts/
individual-plans/